
nav {
    background-image: url(https://cdn.pixabay.com/photo/2020/09/26/16/06/cats-5604495_960_720.png);
    position: relative;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    text-size-adjust: 1cm;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
    width: 100%;
    height: 2cm; 
    padding: 1cm;
}

#navbar a:hover {
    background-color: none;
    color: rgb(12, 11, 11);
}

#search {
    position: relative;
}

a:link {
    color: black;
  }
  
a:visited {
    color: grey;
  }
  
a:hover {
    color: burlywood;
  }
  
a:active {
    color: rgb(145, 145, 38);
  } 

footer {
    background-image: url(https://cdn.pixabay.com/photo/2020/09/26/16/06/cats-5604495_960_720.png);
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
    width: auto;
    height: 2cm;
    padding: 1cm;   
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: sandybrown;    
}

h1 {
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    border: sandybrown;    
}

h2 {
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight:400;   
}

h3 {
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight:400;   
}

p {
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 300;   
}

form {
    border: 1ch;
    border-color: black;
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 300;   
} 
