nav {
    background-image: url(https://media.istockphoto.com/vectors/cute-cat-paws-footprint-seamless-pattern-background-vector-id1255261549?b=1&k=6&m=1255261549&s=170667a&w=0&h=fH8GQzUOvTVYbVYd1gyJn5G1rqqcAmxATim-o635L6M=);
    text-align: center;
    text-size-adjust: 1cm;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
    width: auto;
    height: 2cm;
    padding: 1%;    }

button {
    align-content: center;
    text-align: center;
    text-size-adjust: 1cm;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
    width: fit-content;
    padding:0%;    }

footer {
    background-image: url(https://media.istockphoto.com/vectors/cute-cat-paws-footprint-seamless-pattern-background-vector-id1255261549?b=1&k=6&m=1255261549&s=170667a&w=0&h=fH8GQzUOvTVYbVYd1gyJn5G1rqqcAmxATim-o635L6M=);
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
    width: auto;
    height: 2cm;
    padding: 1cm;   }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: sandybrown;    }

h1 {
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    border: sandybrown;    }

h2 {
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight:400;   }

h3 {
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight:400;   }

p {
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 300;   }

form {
    border: 1ch;
    border-color: black;
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 300;   } 
